<!DOCTYPE html>
<html>
<head>
	<title>Dog Breed Project</title>
	<link rel='icon' href='{{ url_for("static",filename="images/favicon.png")}}' type='image/x-icon' sizes="16x16" />
	<script src="https://kit.fontawesome.com/a13013342e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>
<body>
	{% block body %} {% endblock %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/lostdog.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/loading.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/location.js') }}"></script>
	<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
</body>

</html>